.navbar {
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    border-bottom: 2px solid black;
}

.navbar-image {
    margin-left: 40px;
    width: 4%;
}

.navbar-list {
    display: inline-block;
}

.navbar-link {
    /* color: rgb(212, 58, 58); */
    color: white;
    margin-right: 80px;
    font-size: 1.3rem;
}
